<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Ajouter un Utilisateur</title>
</head>
<body>
  <div class="app-container">
    <div class="header">
      <h1>Tableau de Bord des Utilisateurs</h1>
    </div>
    
    <div class="card">
    <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Prénom</th>
            <th>nom de famille</th>
            <th>Nom d'utilisateur</th>
            <th>Date de création</th>
            <th class="action-column">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (user of service.Users; track $index) {
            <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.userName }}</td>
              <td>{{ user.creationDate | date:'shortDate'}}</td>
              <td>
                <div class="row-actions">
                  <button type="button"><span class="action-icon">✏️</span></button>
                  <button type="button" (click)="DeleteUser(user.id ?? 0)"><span class="action-icon">🗑️</span></button>
                </div>
              </td>
            </tr>
            <tr>
          }
        </tbody>
      </table>
    </div>

    <!-- Ajout utilisateur -->
    <div class="breadcrumb">
      <span class="breadcrumb-item"><a href="#" class="breadcrumb-link">Accueil</a></span>
      <span class="breadcrumb-item"><a href="#" class="breadcrumb-link">Utilisateurs</a></span>
      <span class="breadcrumb-item">Ajouter un utilisateur</span>
    </div>
    
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Ajouter un nouvel utilisateur</h2>
      </div>
      
      <form [formGroup]="userform" (ngSubmit)="CreateUser()">
        <div class="form-container">
          
          <div class="form-section">

              <div class="form-group">
                <label class="form-label required-label">Prénom</label>
                <input type="text" id="firstname" class="form-control" placeholder="Entrez le prénom" formControlName="firstname" required>
              </div>
              @if (firstname?.invalid && isSubmit) {
                <div class="alert alert-danger">

                  @if (firstname?.hasError('required')) {
                    <div>
                      Le prenom est requis
                    </div>
                  }

                  @if (firstname?.hasError('minlength')) {
                    <div>
                      Le prenom doit comporter au moins 3 caractères.
                    </div>
                  }
                </div>
              }
              
              <div class="form-group">
                <label class="form-label required-label">Nom</label>
                <input type="text" class="form-control" placeholder="Entrez le nom" formControlName="lastname" required>

                @if (lastname?.invalid  && isSubmit) {
                <div class="alert alert-danger">

                  @if (lastname?.hasError('required')) {
                    <div>
                      Le nom est requis
                    </div>
                  }

                  @if (lastname?.hasError('minlength')) {
                    <div>
                      Le nom doit comporter au moins 3 caractères.
                    </div>
                  }
                </div>
              }
              </div>
            
            <div class="form-group">
              <label class="form-label required-label">Nom d'utilisateur</label>
              <input type="text" class="form-control" placeholder="Entre le nom d'utilisateur" formControlName="username" required>

              @if (username?.invalid  && isSubmit) {
                <div class="alert alert-danger">

                  @if (username?.hasError('required')) {
                    <div>
                      Le Nom d'utilisateur est requis
                    </div>
                  }

                  @if (username?.hasError('minlength')) {
                    <div>
                      Le Nom d'utilisateur doit comporter au moins 3 caractères.
                    </div>
                  }
                </div>
              }
            </div>
            
          </div>
        </div>
        
        <div class="actions">
          <button type="submit" class="btn btn-primary">Ajouter l'utilisateur</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>